<nav class="navbar navbar-inverse navbar-fixed-top">
	<div class="container-fluid">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
				aria-expanded="false" aria-controls="navbar">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="/index">
				<h1><img src="/static/images/logo.png" alt="" /></h1>
			</a>
		</div>
		<div class="row">
			<div class="top-search col-md-6" style="
          /* display: inline-block;
          width: 48vw; */
          margin-left: 5vw;
          ">
				<form class=" autocomplete" onsubmit="return false;" style="
                width: 40vw;
                display: inline-block;
                padding : 40px;
                ">

					<% include search.ejs %>
					<link rel="stylesheet" href="/static/css/code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
					<link rel="stylesheet" href="/static/css/jqueryui.com/resources/demos/style.css">
					<link rel="stylesheet" href="/static/css/notification.css">


					<script src="/static/js/code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
					<script src="/static/js/searchSuggest.js"></script>
					<script src="/static/js/notifications.js"></script>

				</form>
				<script src="/static/js/search.js"></script>
			</div>
			<!-- SEARCH ABOVE -->
			<div class="col-md-3 col-md-offset-1" style="padding: 8px;">
				<div class="col-md-2 col-md-offset-2">

				</div>
				<div class="col-md-2 col-md-offset-1">
					<div id="noti-tab" style="display:inline-block; margin :0 15px;">
						<a class="nav-links fa fa-bell-o"
							style="font-size: 30px; padding:2px; position: relative; top:3px;"></a>
						<span class="noti-count" id="nav-noti-count"></span>
					</div>
				</div>
				<div class="noti-container">
					<div class="noti-title">
						<span class="new-noti-title">Notifications </span>
						<span class="noti-count" id="noti-container-count"></span>
					</div>
					<ul class="noti-body">

					</ul>
					<div class="noti-footer">Mark all as read</div>
				</div>
				<!-- PROFILE BELOW -->
				<div class="col-md-1 col-md-offset-1">
					<div style="display:inline-block;">
						<button id="profile-button" class="btn btn-primary">Profile</button>
					</div>
				</div>
				<div class="profile-section">
					<div class="profile-pic">
						<img src="/static/images/profile.jpg" height="50px" width="50px">
					</div>
					<div class="profile-details">
						<p><%= user.name %></p>
						<p><%= user.email %></p>
					</div>
					<div class="profile-footer">
						<a href="/profile/edit" style="text-decoration: none;" class="btn btn-primary">
							Edit
						</a>
						<a href="/user/logout" style="text-decoration: none;" class="btn btn-primary"
							style="float:right;z-index  :99999">
							Logout
						</a>
					</div>
				</div>


				<!-- REPORT CRIME BELOW -->
				<div class="col-md-1 col-md-offset-1">
					<div style="display:inline-block;">
						<button id="report" class="btn btn-primary" data-toggle="modal"
							data-target="#myModal">REPORT</button>
					</div>

				</div>
			</div>
		</div>
	</div>

</nav>

<!--  -->
<!-- Modal -->
<div class="modal-body">
	<div class="modal fade" id="myModal" role="dialog">
		<div class="modal-dialog">

			<!-- Modal content-->
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					<h4 class="modal-title">REPORT INCIDENT</h4>
				</div>

				<!-- report incident form -->
				<div class="row search-wrapper">
					<div class="col-xs-8 col-xs-offset-2 mobile-search">
						<div class="form-group">

							<br>
							<div class="col-xs-10 col-xs-offset-2 mobile-search input-group">
								<input type="hidden" name="type" value="name" id="search_type">
								<span class="input-group-btn"></span>
								<input type="text" class="form-control index-search " name="term2" id="report_place"
									placeholder="Enter Place..." value="">


							</div>
							<br>
							<div class="col-xs-10 col-xs-offset-2 mobile-search input-group">
								<input type="hidden" name="type" value="name" id="search_type">
								<span class="input-group-btn"></span>
								<input type="text" class="form-control index-search " name="term2" id="incident"
									placeholder="Enter Incident..." value="">


							</div>
							<div class="radio">
								<input type="checkbox" id="usemyloc" name="usemyloc"><label>USE MY LOCATION</label>
							</div>
							<div>
								<span class="input-group-btn">

									<button class="btn btn-danger" onclick="report()" type="submit">
										<i class="glyphicon glyphicon-search" aria-hidden="true"></i> Report
									</button>
								</span>
							</div>
						</div>
					</div>
				</div>
				<!--  -->


				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				</div>
			</div>

		</div>
	</div>
</div>
<!--  -->
<script type="text/javascript">
	function report() {
		var report_place = document.getElementById('report_place').value;
		var incident = document.getElementById('incident').value;
		var usemyloc = $('#usemyloc').is(":checked");
		if (usemyloc) {
			if (navigator.geolocation) {
				navigator.geolocation.getCurrentPosition((position) => {
					
					$.post("/report",
						{
							lat: position.coords.latitude,
							lgt: position.coords.longitude,
							incident: incident,
							isCoord : true
						},
						function (data, status) {
							alert("Data: " + data + "\nStatus: " + status);
						});
				});
			} else {
				window.alert("Geolocation is not supported by this browser.");
			}
		} else {
			$.post("/report",
				{
					loc: report_place,
					incident: incident,
					isCord : false
				},
				function (data, status) {
					alert("Data: " + data + "\nStatus: " + status);
				});
		}

	}
	function success(pos) {
		console.log(pos);
	}
</script>